{% extends "base.html" %}
 
{% block announce %}
<p style="color:white">
    New FortiClient\EMS 7.4.1 has been released!
    Make sure to check out the <a href="https://docs.fortinet.com/document/forticlient/7.4.0/new-features/100268/7-4-1">release notes.</a>
    For overview of new FortiClient features see <a href="/FortiClient/New features/7.4.1">FortiClient 7.4.1 Features Overview</a> section.
    For EMS - <a href="/EMS/New features/7.4.1">EMS 7.4.1 Features Overview</a>.
</p>
{% endblock %}